<section class="main-section">
<h2 class="header">LOGIN</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password" , placeholder:"Password" %>
  </div>

  <div class="actions">
    <%= f.submit "LOG IN" %>
  </div>
<% end %>
<div class="links-wrapper"><%= render "devise/shared/links" %></div>
</section>